[Desktop Entry]
Version=1.0
Name=Peyote
GenericName=Guitar tab editor
Comment=create guitar tabs
Icon=org.github.FreaxMATE.peyote
Exec=peyote %F
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Graphics;

Name[en_GB]=org.github.FreaxMATE.peyote.desktop
